@model IEnumerable<MvcShopping.Models.TProduct>

@{
    ViewBag.Title = "Test";
}
<script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jCarousel.min.js" type="application/x-javascript" charset="utf-8"></script>

<ul class="jCarousel">
    <li><img src="~/Images/orderedList0.png" /></li>
    <li><img src="~/Images/orderedList1.png" /></li>
    <li><img src="~/Images/orderedList2.png" /></li>
</ul>



<h2>Test</h2>
@foreach(var item in Model)
{
    @item.id<br>
    @item.name<br>
    @item.price<br>
    @Html.ActionLink("編集","Edit/"+item.id,"Home")<br>
}
@Html.ActionLink("追加", "Add/", "Home")
